<div class="d-flex justify-content-between p-3 bg-secondary border-bottom border-warning">
    <a class="navbar-brand text-warning text-bold font-weight-bold" routerLink="/home"><h2>La Nîme'alerie</h2></a>
    <div>
        <h3 class="text-warning">LaFaceCachéeDeLaLune</h3>
        <div class="d-flex justify-content-between">
            <li>{{ authService.loggedUser }}</li>
            <div>
                <li><a class="btn-header" *ngIf="!authService.isloggedIn" routerLink="/">Connexion</a></li>
                <li><a class="btn-header" *ngIf="authService.isloggedIn" (click)="onLogout()">Deconnexion</a></li>
            </div>
        </div>
    </div>
</div>