<h2 class="p-4 bg-warning mt-2 mb-5 rounded shadow">{{ title }}</h2>

<div class="col p-3 shadow rounded">
    <p>Nombre de commande:</p>
    <p>{{ numberOfOrders.length }}</p>
</div>

<div class="col p-3 shadow rounded">
    <p>Montant total des ventes:</p>
    <p>{{ countTotalSales() | number : '1.2-2' }} € </p>
</div>

<div class="col p-3 shadow rounded">
    <p>Valeur d'un panier moyen:</p>
    <p> {{ averageBasket() | number : '1.2-2' }} €</p> 
</div>

<div class="col p-3 shadow rounded">
    <p>Panier abandonné: (en %)</p>
    <p *ngFor="let number of abandonedCart">
        {{ ((( number.abandonedCart / numberOfOrders.length)*100) ) | number : '1.2-2' }} %
    </p>
</div>


