<h2 class="p-4 bg-warning mt-2 mb-5 rounded shadow">{{ title }}</h2>

<h1>Données</h1>

<div class="col p-3 shadow rounded">
    <h6>Nombre de commande:</h6>
    <p>{{ numberOfOrders.length }}</p>
</div>

<div class="col p-3 shadow rounded">
    <h6>Montant total des ventes:</h6>
    <p>{{ countTotalSales() | number : '1.2-2' }} € </p>
</div>

<div class="col p-3 shadow rounded">
    <h6>Valeur d'un panier moyen:</h6>
    <p> {{ averageBasket() | number : '1.2-2' }} €</p> 
</div>

<div class="col p-3 shadow rounded">
    <h6>Taux de panier abandonné:</h6>
    <p *ngFor="let number of statistical">
        {{ (( number.abandonedCart / numberOfOrders.length)*100) | number : '1.2-2' }} %
    </p>
</div>

<div class="col p-3 shadow rounded">
    <h6>Taux de conversion  en commande: calul a revoir</h6>
    <p *ngFor="let nbOfCart of statistical">
        {{ (( numberOfOrders.length / nbOfCart.nbOfCartCreated )*100) | number : '1.2-2' }} %
    </p>
</div>


<h1 class="mt-5">Test Graphique Chart.js</h1>



<canvas id="myChart" width="400" height="400"></canvas>
<script>
const ctx = document.getElementById('myChart');
const myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
        datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>